{%extends 'base.html'%}

{%block content%}
    <h3>User Details</h3>
    <form method="POST">
        {{Form1.hidden_tag()}}
        {{Form1.name.label}} {{Form1.name()}}
        {{Form1.phone.label}} {{Form1.phone()}}
        {{Form1.email.label}} {{Form1.email()}}
        {{Form1.password.label}} {{Form1.password()}}
        {{Form1.submit()}}
    </form><br>
    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Password</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            {%for i in Users%}
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
            <td>{{i.password}}</td>
            <td><a href="{{url_for('useredit',i=i.id)}}"><img src="../static/images/edit.png"></a></td>
            <td><a href="{{url_for('userdel',i=i.id)}}"><img src="../static/images/delete.png"></a></td>
        </tr>
            {%endfor%}
    </table>
   
    <h3>Mutual Funds House Details</h3>
    <form method="POST">
        {{Form2.hidden_tag()}}
        {{Form2.mname.label}} {{Form2.mname()}}
        {{Form2.code.label}} {{Form2.code()}}
        {{Form2.nav.label}} {{Form2.nav()}}
        {{Form2.units.label}} {{Form2.units()}}
        {{Form2.submit()}}
    </form><br>
    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Scheme Code</td>
            <td>Nav</td>
            <td>Units</td>
            <td>Total</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            {%for i in Mutuals%}
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.code}}</td>
            <td>{{i.nav}}</td>
            <td>{{i.units}}</td>
            <td>{{i.total}}</td>
            <td><a href="{{url_for('mutualedit',i=i.id)}}"><img src="../static/images/edit.png" alt=""></a></td>
            <td><a href="{{url_for('mutualdel',i=i.id)}}"><img src="../static/images/delete.png" alt=""></a></td>
        </tr>
            {%endfor%}
    </table>
{%endblock%}